# Plausible Analytics
PLAUSIBLE_SECRET_KEY_BASE=
PLAUSIBLE_DB_PASSWORD=

# Supabase
SB_URL=https://imuhzzxnkrmiwlccraff.supabase.co
SB_SECRET=

# Resend (Email)
RESEND_KEY=

# Site
SITE_URL=https://hands.trembling-hands.com

# Ollama
OLLAMA_HOST=http://10.200.0.11:11434
OLLAMA_MODEL=Qwen3-Coder-Next:latest
